.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Định dạng cho Menu (hiển thị nằm ngang) */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Hiển thị nằm ngang */
  justify-content: center;
  /* Căn giữa các mục */
}

li {
  margin: 0 15px;
  /* Khoảng cách giữa các mục */
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #007BFF;
  /* Thay đổi màu khi hover */
}

/* Định dạng cho component Information */
.information {
  color: #FF6347;
  /* Màu cam đậm */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  /* Căn giữa văn bản */
}

/* click me  */
div {
  text-align: center;
  /* Căn giữa tất cả nội dung trong div theo chiều ngang */
}

/* Định dạng cho nút button */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

button:hover {
  background-color: #45a049;
}